<div th:fragment="headerMain">
  <header class="p-1 text-bg-light">
    <div class="container">
      <div d-flex flex-wrap align-items-center justify-content-center >
        <a href="/static" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-5 text-black fs-1 fw-bold" href="/zoo">Животные</a></li>
          <li><a class="nav-link px-2 text-black fs-1 fw-bold" href="/employee">Сотрудники</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>