<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragment/header :: headerZoo"></div>
</head>
<body>

<div>
    <div th:each="el : ${animal}">
        <p th:text="'Номер: '+${el.getId()}"></p>
        <p th:text="'Имя: '+${el.getName()}"></p>
        <p th:text="'Возраст: '+${el.age}"></p>
        <p th:text="'Описание: '+${el.description}"></p>
        <p th:text="'Вес: '+${el.weight}"></p>
        <p th:text="'Рост: '+${el.height}"></p>
        <p th:text="'Вид: '+${el.getKind().getName()}"></p>
        <p th:text="'Вольер: '+${el.height}"></p>
        <p th:text="'Рацион: '+${el.height}"></p>
        <p th:text="'Ответсвенный: '+${el.height}"></p>
        <p th:text="'Территория: '+${el.height}"></p>
        <a th:href="'/zoo/edit/'+${el.getId()}">Изменить</a>
        <a th:href="'/zoo/delete/'+${el.getId()}">Удалить</a>
    </div>
</div>
<br>
<div>
    <a th:href="'/zoo'">Назад</a>
</div>
</body>
</html>