<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <div th:insert="fragment/header :: headerZoo"></div>
    </head>
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(4, 150px);
            grid-template-rows: repeat(4, auto);
        }
        .grid > * {
            margin: 1px;
        }
    </style>

    <body class="text-bg-light">
    <div class="mx-auto col-md-4 fw-light">
        <div>
        <a href="/zoo/add" class="link-success fw-normal">Добавить</a>
    </div><br/>
        <div >
        <form action="/zoo/filter" method="get">
            <input type="text" placeholder="Введите имя животного" name="searchName"
                   class=" fs-4 fw-light form-control border-success border-3"><br/>
            <input class="btn btn-success" type="submit" value="Найти" >
        </form>
        </div>
        <div class="grid">
            <div th:each="el : ${listAnimal}">
                <p th:text="'Номер: '+${el.getId()}"/>
                <p th:text="'Имя: '+${el.name}"/>
                <p th:text="'Рацион: '+${el.getFood().getName()}"/>
                <p th:text="'Ответвеснный: '+${el.getUser().getName()}"/>
                <a th:href="'/zoo/details/'+${el.id}" class="link-success fw-normal">Подробнее</a>
            </div>
        </div>
    </div>
    </body>
</html>